.containerDiv {
    text-align: center;
    background: #2E5490;
    color: #435160;
    font-family: 'Roboto';
}

body {
    background: #4681CF;
    margin: 20PX;
}

input {
    width: 350px;
    padding: 20px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    outline: none;
    color: #6D7781;
    font-size: 16px;
    margin-top: 20px;
}

.inputLogin {
    width: 350px;
    padding: 20px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    outline: none;
    color: #6D7781;
    font-size: 16px;
    margin: 5px;
}



.select {
    margin: 30px;
    background-color: #2E5490;
    border-color: #4681CF;
}

::-webkit-input-placeholder {
    color: white;
    font-size: 16px;
    /*font-family: 'Roboto';*/
}

label {
    color: white;
    font-size: 16px;
    /*font-family: 'Roboto';*/
    margin: 20px;
}
  

button {
    background: #4681CF;
    border: 0;
    width: 350px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    margin: 50px;
}

.divLogin {
    text-align: center;
    background: #2E5490;
    color: #435160;
    /*font-family: 'Roboto';*/
}

footer {
    position: relative;
    /* Altura total del footer en px con valor negativo */
    margin-top: -50px;
    /* Altura del footer en px. Se han restado los 5px del margen
       superior mas los 5px del margen inferior
    */
    height: 40px;
    padding:5px 0px;
    clear: both;
    background: #286af0;
    text-align: center;
    color: #fff;
}